@use '../../assets/styles/project/_project' as project;

.mobile-navbar {
    @include project.grid-align($align-content: stretch, $justify-content: stretch, $gap: 0);
    display: none;
    position: fixed;
    top: project.$mobile-navbar-top;
    right: project.$mobile-navbar-right;
    z-index: map-get(project.$z-index, fixed);

    width: project.$mobile-navbar-width;
    height: project.$mobile-navbar-height;
    grid-template-rows: project.$mobile-navbar-header-height 1fr project.$mobile-navbar-hr-height project.$mobile-navbar-socials-height;
    grid-template-areas:
            "header"
            "body"
            "hr"
            "footer";
    background: map-get(project.$colors, primary);

    &.active {
        display: grid !important;
    }
}

.mobile-navbar__hr {
    grid-area: hr;

    margin: auto;
    width: project.$mobile-navbar-hr-width;
    height: project.$mobile-navbar-hr-height;
    border-radius: project.$global-border-radius;
    background: map-get(project.$colors, white);
}