@use '../../assets/styles/project/_project' as project;

.mobile-navbar-socials {
    @include project.flexbox-align-row($justify: space-between);
    grid-area: footer;
    justify-self: center;

    width: project.$mobile-navbar-socials-width;
}

.mobile-navbar-socials__icon {
    width: project.$mobile-navbar-socials-icon-size;
    height: project.$mobile-navbar-socials-icon-size;
    background-position: center !important;
    background-size: contain !important;
    filter: invert(100%);

    &--instagram {
        background: url('#{project.$icon-path}instagram.svg');
    }

    &--linkedin {
        background: url('#{project.$icon-path}linkedin.svg');
    }

    &--email {
        background: url('#{project.$icon-path}email.svg');
    }

    &--twitter {
        background: url('#{project.$icon-path}twitter.svg');
    }

    &--facebook {
        background: url('#{project.$icon-path}facebook.svg');
    }
}