/*  Global
    ========================================================================== */
/*  Breakpoints
    ========================================================================== */
/*  Grid
    ========================================================================== */
/*  Typography
    ========================================================================== */
/*  Paths
    ========================================================================== */
/*  Z-index
    ========================================================================== */
/*  Spacing
    ========================================================================== */
/*  Backdrop
    ========================================================================== */
/*  Button
    ========================================================================== */
/*  Header
    ========================================================================== */
/*  MobileNavbar
    ========================================================================== */
/*  Typography
    ========================================================================== */
/**
 * Set the font size and the line height
 *
 * @param   $size   the size of font, default value '$global-font-size'
 */
/*  Flexbox
    ========================================================================== */
/**
 * Abstract align for parent flexbox container
 *
 * @param   $direction    the direction of elements
 * @param   $wrap         the wrap of container
 * @param   $align        the align of content
 * @param   $justify      the justify of items
 * @param   $gap          the gap between items
 */
/**
 * Row align for parent flexbox container
 *
 * @param   $wrap         the wrap of container, default value 'nowrap'
 * @param   $align        the align of content, default value 'center'
 * @param   $justify      the justify of items, default value 'space-around'
 * @param   $gap          the gap between items, default value '$global-gap'
 */
/**
 * Column align for parent flexbox container
 *
 * @param   $wrap         the wrap of container, default value 'nowrap'
 * @param   $align        the align of content, default value 'stretch'
 * @param   $justify      the justify of items, default value 'center'
 * @param   $gap          the gap between items, default value '$global-gap'
 */
/*  Grid
    ========================================================================== */
/**
 * Set align for parent grid container
 *
 * @param   $align-content      the align of content, default value 'center'
 * @param   $justify-content    the justify of content, default value 'center'
 * @param   $align-items        the align of items, default value 'stretch'
 * @param   $justify-items      the justify of items, default value 'stretch'
 * @param   $gap                the gap between items, default value '$global-gap'
 */
/*  Global
    ========================================================================== */
/**
 * Global container
 *
 * Use to the body or the page container
 *
 * @param   $theme   the type of theme, default value 'main'
 */
/*  Column layout
    ========================================================================== */
/**
 * Abstract of a column layout container
 *
 * @param   $align-items        the align of items
 * @param   $justify-items      the justify of items
 */
/**
 * Column layout container
 *
 * Use to the layout container (header, navbar, main, etc.)
 *
 * @param   $area               the area in global container (in layout)
 * @param   $align-items        the align of items, default value 'stretch'
 * @param   $justify-items      the justify of items, default value 'stretch'
 */
/**
 * Full bleed wrapper
 *
 * Use as a wrapper to create the full-bleed element
 *
 * @param   $align-items        the align of items, default value 'stretch'
 * @param   $justify-items      the justify of items, default value 'stretch'
 */
/*  Global
    ========================================================================== */
.mobile-navbar-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  position: relative;
  height: 5rem;
}
.mobile-navbar-item:hover .mobile-navbar-item__link, .mobile-navbar-item:active .mobile-navbar-item__link {
  color: #2C7CF5;
}
.mobile-navbar-item:hover::after, .mobile-navbar-item:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 75vw;
  height: 5rem;
  border-radius: 0 50px 50px 0;
  background: #fff;
}

.mobile-navbar-item__link {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=MobileNavbarItem.css.map */
